<style>
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: cursive;
}

.welcome .centered {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddb;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}

.rooms #dicePreviewDiv {
    margin: 1em 0;
    border: 1px solid grey;
    padding: 1em;
    min-height: 56px;
    background: #ccc;
    background: linear-gradient(#ccc, #e9e9e9 45%, #f0f0f0 50%, #e9e9e9 55%, #bbb);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
</style>